<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Ejemplo subir imagen</title>
</head>
<body>
  <form action="/" method="POST" enctype="multipart/form-data">
    <input type="file" name="avatar">
    <input type="submit" value="Subir">
  </form>
</body>
</html>
